
/* Colors */

/* #2A6EA6; link colour */
/* HSV: 207, 75, 65 */
/* Decimal RGB: 42, 110, 166 */

/* #FFA933: complement to #2A6EA6 */

/* Triad: #2A6EA6, #FFCD33, #FF7033 */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #33afb8;
    margin: 0px 0px 0px 40px;
}

a {
    color: #2A6EA6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #000;
    clear: both;
    padding-top: 30px;
    margin: 0;
}

.social { /* used for GitHub, Twitter etc icons */
    margin: 5px
}

.about {
    margin: 0px 10px 10px 0px;
    float: left;
    position: relative;
    clear: none;
    width: 920px;
    height: 120px;
    background: #ddd;
}

.recent {
    margin: 0px 10px 10px 0px;
    float: left;
    position: relative;
    clear: none;
    width: 920px;
    background: #ddd;
}

.project {
    margin: 0px 10px 10px 0px;
    float: left;
    position: relative;
    clear: none;
    width: 300px;
    height: 400px;
    background: #ddd;
}

.kay {
    margin: 0px 10px 10px 0px;
    float: left;
    position: relative;
    clear: none;
    width: 900px;
    height: 2330px;
    background: #ddd;
}


.single_column {
    margin: 0 80px 0px 40px; /* already 40px on left, from body */
    padding: 0 40px 40px 40px;
    background: #ddd;
}

.new_news {
    margin-top: 20px;
}

.single_column h1 {
    margin-left: 60px;
}

.single_column h2 {
    margin: 20px 0px 0px 0px;
    padding: 0;
}

.indent1 {
    margin-left: 60px;
}

.indent2 {
    margin-left: 90px;
}

.indent3 {
    margin-left: 120px;
}


p {
    clear: both;
    margin: 2px 10px 0px 10px;
}

img {
    margin: 0; 
    padding: 0;
}

br{
    margin:0px;
    padding:0px;
    font-size:26px;
}

hr {
    margin: 4px 0px 4px 0px;
}

.date {
    font-style: italic;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}